{% extends "base.html" %}

{% load static %}

{% block title %}Alerts{% endblock %}

{% block content %}

{% if show_navbar %}
{% include "gui/navbar.html" %}
{% endif %}

<main role="main" class="container mt-5">
  <div class="row justify-content-between mb-3 text-center">
    <div class="col-auto mx-auto">
      <!-- This card can be turned into a floating element to show notifications in-page -->
      <div class="card index-cards shadow">
        <div class="card-body">
          <h1 class="card-title">
            Alerts
          </h1>

          <p class="card-text">
          <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
            >
              Filter by:
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item ml-3" href="#">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                >
                Kanban (2)
              </a>

              <a class="dropdown-item ml-3" href="#">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                >
                Chat (0)
              </a>

              <a class="dropdown-item ml-3" href="#">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                >
                Wiki (3)
              </a>

              <a class="dropdown-item ml-3" href="#">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                >
                Calendar (0)
              </a>
            </div>
          </div>

          <table class="table text-left">
            <thead>
            <tr>
              <th scope="col">Application</th>
              <th scope="col">Notification</th>
              <th scope="col"></th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td>Wiki</td>
              <td>Updated filler article</td>
              <td>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-primary">
                  Clear
                </button>
              </td>
            </tr>

            <tr>
              <td>Wiki</td>
              <td>Updated filler article</td>
              <td>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-primary">
                  Clear
                </button>
              </td>
            </tr>

            <tr>
              <td>Kanban</td>
              <td>Added issue</td>
              <td>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-primary">
                  Clear
                </button>
              </td>
            </tr>


            <tr>
              <td>Wiki</td>
              <td>Updated filler article</td>
              <td>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-primary">
                  Clear
                </button>
              </td>
            </tr>

            <tr>
              <td>Kanban</td>
              <td>Closed issue</td>
              <td>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-primary">
                  Clear
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
