{% extends "base.html" %}

{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

{% if show_navbar %}
{% include "gui/navbar.html" %}
{% endif %}

<main role="main" class="container mt-5">
  <div class="jumbotron background-white shadow">
    <h1 class="text-center">Grid Inc. Dashboard</h1>
  </div>

  <div class="row justify-content-between mb-3 text-center">
    <div class="col-auto mb-3 mx-auto">
      <div class="card index-cards shadow">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fas fa-2x fa-chart-line"></i>
          </h5>

          <a href="#" class="btn btn-primary shadow">Kanban Board</a>
        </div>
      </div>
    </div>

    <div class="col-auto mb-3 mx-auto">
      <div class="card index-cards shadow">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fas fa-2x fa-comments"></i>
          </h5>

          <a href="#" class="btn btn-primary shadow">Chat</a>
        </div>
      </div>
    </div>

    <div class="col-auto mb-3 mx-auto">
      <div class="card index-cards shadow">
        <div class="card-body">
          <h5 class="card-title">
            <i class="far fa-2x fa-newspaper"></i>
          </h5>

          <a href="#" class="btn btn-primary shadow">Wiki</a>
        </div>
      </div>
    </div>

    <div class="col-auto mb-3 mx-auto">
      <div class="card index-cards shadow">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fas fa-2x fa-calendar-alt"></i>
          </h5>

          <a href="#" class="btn btn-primary shadow">Calendar</a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
