{% load static %}

<div class="card mb-3 shadow">
  <div class="card-body">
    <div class="row ml-2">
      <div class="col-12">
        <h5>Task Title</h5>
      </div>

      <div class="col-8">
        <div class="row no-gutters">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores cupiditate dolores
            dolorum exercitationem.
          </p>
        </div>

        <div class="row align-items-center no-gutters">
          <div class="col-12">
            <p><b>Date Assigned:</b> 10:00 AM 10/31/2020</p>
            <p><b>Date Due:</b> 10:00 AM 10/31/2020</p>
          </div>

          <div class="col-12">
            <a href="{% url 'kanban-edit' %}">
              <button type="button" class="btn btn-primary">
                Edit
              </button>
            </a>

            <button type="button" class="btn btn-primary">
              Comment
            </button>
          </div>
        </div>
      </div>

      <div class="col-2">
        <h6>Owner</h6>
        <img
          src="{% static 'img/avatar.png' %}"
          alt=""
          width="72"
          height="72"
        />
      </div>

      <div class="col-2">
        <h6>Assignee</h6>
        <img
          src="{% static 'img/avatar.png' %}"
          alt=""
          width="72"
          height="72"
        />
      </div>
    </div>
  </div>
</div>