{% extends "base.html" %}

{% load static %}

{% block title %}Home Page{% endblock %}

{% block content %}

{% if show_navbar %}
{% include "gui/navbar.html" %}
{% endif %}

<main role="main" class="container mt-5">
  <div class="card">
    <div class="card-body">

      <div class="row">
        <div class="col-4">
          {% include "gui/sidebar-issues.html" %}
        </div>

        <div class="col-8">
          <div class="row ml-1">
            <h3>Tasks</h3>
          </div>

          <div class="row mb-3">
            <div class="dropdown ml-3">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Filter
              </button>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Active Items</a>
                <a class="dropdown-item" href="#">Assigned to me</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>

          <div class="card mb-3 shadow">
            <div class="card-body">
              <div class="row ml-2">
                <div class="col-12">
                  <h3>Task Title</h3>
                </div>

                <div class="col-12 mb-3">
                  <p>Submission Contents</p>

                  <div class="input-group">
                    <textarea class="form-control" aria-label="With textarea"></textarea>
                  </div>
                </div>

                <div class="col-12">
                  <p>Images</p>
                </div>

                <div class="col-12">
                  <div class="row justify-content-between">
                    <img
                      class="mb-4 mx-auto mt-4"
                      src="{% static 'img/placeholder.png' %}"
                      alt=""
                      width="72"
                      height="72"
                    />

                    <img
                      class="mb-4 mx-auto mt-4"
                      src="{% static 'img/placeholder.png' %}"
                      alt=""
                      width="72"
                      height="72"
                    />

                    <img
                      class="mb-4 mx-auto mt-4"
                      src="{% static 'img/placeholder.png' %}"
                      alt=""
                      width="72"
                      height="72"
                    />
                  </div>
                </div>

                <div class="col-12 mb-3 text-center">
                  <button type="button" class="btn btn-primary btn-sm">Take Picture</button>
                  <button type="button" class="btn btn-primary btn-sm">Upload Picture</button>
                </div>

                <div class="col-12 text-center">
                  <a href="{% url 'kanban-selected' %}">
                    <button type="button" class="btn btn-success btn-sm">Save</button>
                  </a>

                  <a href="{% url 'kanban-selected' %}">
                    <button type="button" class="btn btn-warning btn-sm">Cancel</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
