{% extends "base.html" %}

{% load static %}

{% block title %}Home Page{% endblock %}

{% block content %}

{% if show_navbar %}
{% include "gui/navbar.html" %}
{% endif %}

<main role="main" class="container mt-5">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col text-center">
          <h1>Sample Kanban</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <h5 class="text-center">##% Complete</h5>
          {% include "gui/kanban-card-issues.html" %}
          {% include "gui/kanban-card-issues.html" %}
          {% include "gui/kanban-card-issues.html" %}
        </div>

        <div class="col-4">
          <h5 class="text-center">##% Complete</h5>
          {% include "gui/kanban-card-issues.html" %}
          {% include "gui/kanban-card-issues.html" %}
          {% include "gui/kanban-card-issues.html" %}
        </div>

        <div class="col-4">
          <h5 class="text-center">##% Complete</h5>
          {% include "gui/kanban-card-issues.html" %}
          {% include "gui/kanban-card-issues.html" %}
          {% include "gui/kanban-card-issues.html" %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
