{% extends "base.html" %}

{% load static %}

{% block title %}Home Page{% endblock %}

{% block content %}

{% if show_navbar %}
{% include "gui/navbar.html" %}
{% endif %}

<main role="main" class="container mt-5">
  <div class="card">
    <div class="card-body">

      <div class="row">
        <div class="col-4">
          <h5 class="text-center">##% Complete</h5>

          <div class="card mb-3 shadow">
            <div class="card-body">
              <p>Sample issue</p>
            </div>
          </div>

          <div class="card mb-3 shadow">
            <div class="card-body">
              <p>Sample issue</p>
            </div>
          </div>

          <div class="card mb-3 shadow">
            <div class="card-body">
              <p>Sample issue</p>
            </div>
          </div>

          <div class="card mb-3 shadow">
            <div class="card-body">
              <p>Sample issue</p>
            </div>
          </div>

          <div class="card mb-3 shadow">
            <div class="card-body">
              <p>Sample issue</p>
            </div>
          </div>
        </div>

        <div class="col-8">
          <h5 class="text-center">##% Complete</h5>

          <div class="card mb-3 shadow">
            <div class="card-body">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="">
                <label class="form-check-label">
                  Sample issue
                </label>

                <br>

                <input class="form-check-input" type="checkbox" value="">
                <label class="form-check-label">
                  Sample issue
                </label>

                <br>

                <input class="form-check-input" type="checkbox" value="">
                <label class="form-check-label">
                  Sample issue
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
