<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light shadow">
  <a class="navbar-brand" href="#">Grit Inc.</a>

  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">
          Dashboard
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'alerts' %}">Kanban</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'alerts' %}">Chat</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'wiki-main' %}">Wiki</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'alerts' %}">Calendar</a>
      </li>

      <li class="nav-item d-md-none">
        <a class="nav-link" href="{% url 'alerts' %}">
          Alerts
          <span class="badge badge-pill badge-primary">4</span>
        </a>
      </li>

      <li class="nav-item d-md-none">
        <a class="nav-link" href="{% url 'alerts' %}">Account</a>
      </li>

      <li class="nav-item d-md-none">
        <a class="nav-link" href="{% url 'login' %}">Log Out</a>
      </li>
    </ul>

    <div class="d-none d-md-block">
      <a class="color-black"
         href="{% url 'alerts' %}"
      >
        <i class="fas fa-2x fa-bell"></i>
        <span class="badge badge-pill badge-primary align-top mr-1">4</span>
      </a>

      <a class="color-black"
         href="{% url 'login' %}"
      >
        <i class="fas fa-2x fa-user-tie mr-3"></i>
      </a>

      <a class="color-black"
         href="{% url 'login' %}"
      >
        <i class="fas fa-2x fa-sign-out-alt"></i>
      </a>
    </div>
  </div>
</nav>