{% extends "base.html" %}

{% load static %}

{% block title %}Home Page{% endblock %}

{% block content %}

{% if show_navbar %}
{% include "gui/navbar.html" %}
{% endif %}

<main role="main" class="container mt-5">
  <div class="card shadow mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col text-right">
          <i class="fas fa-5x fa-user"></i>
        </div>

        <div class="col">
          <h1>Person McPerson</h1>
          <h5>Senior Meatbag</h5>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col col-8">
          <p class="lead text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto deleniti excepturi labore molestiae
            sit? Animi architecto et odit optio quos soluta. Alias aut delectus esse iste possimus saepe vero
            voluptatem.
          </p>
        </div>
      </div>

      <div class="row justify-content-center">
        <button type="button" class="btn btn-primary mr-3">Chat with Me</button>
        <button type="button" class="btn btn-primary mr-3">Schedule a Meeting</button>
        <button type="button" class="btn btn-primary mr-3">Project I'm Overseeing</button>
        <button type="button" class="btn btn-primary">Assigned Tasks (To Me)</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="text-center">
            <u>Projects</u>
          </h5>

          <ul>
            <li>Some task</li>
            <li>Some task</li>
            <li>Some task</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="text-center">
            <u>Tasks</u>
          </h5>

          <ul>
            <li>Some task</li>
            <li>Some task</li>
            <li>Some task</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
