{% load static %}

<div>
  <h5 class="text-center">Username</h5>

  <i class="fas fa-2x fa-address-book pr-1"></i>

  <div class="card my-3 shadow">
    <div class="card-header">
      <h4>Chat Rooms</h4>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="{% url 'chat-multiple' %}">
          <img
            class="mx-auto"
            src="{% static 'img/placeholder.png' %}"
            alt=""
            width="25"
            height="25"
          />
          Chat #1
        </a>
      </li>

      <li class="list-group-item">
        <a href="{% url 'chat-multiple' %}">
          <img
            class="mx-auto"
            src="{% static 'img/placeholder.png' %}"
            alt=""
            width="25"
            height="25"
          />
          Chat #2
        </a>
      </li>


      <li class="list-group-item">
        <a href="{% url 'chat-multiple' %}">
          <img
            class="mx-auto"
            src="{% static 'img/placeholder.png' %}"
            alt=""
            width="25"
            height="25"
          />
          Chat #3
        </a>
      </li>
    </ul>
  </div>

  <div class="card my-3 shadow">
    <div class="card-header">
      <h4>Recent Chats</h4>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="{% url 'chat-single' %}">
          <img
            class="mx-auto"
            src="{% static 'img/placeholder.png' %}"
            alt=""
            width="25"
            height="25"
          />
          Jane Doe
          <p class="font-italic chat-preview">
            Hello, this is...
          </p>
        </a>
      </li>

      <li class="list-group-item">
        <a href="{% url 'chat-single' %}">
          <img
            class="mx-auto"
            src="{% static 'img/placeholder.png' %}"
            alt=""
            width="25"
            height="25"
          />
          John Doe
          <p class="font-italic chat-preview">
            Hello, this is...
          </p>
        </a>
      </li>

      <li class="list-group-item">
        <a href="{% url 'chat-single' %}">
          <img
            class="mx-auto"
            src="{% static 'img/placeholder.png' %}"
            alt=""
            width="25"
            height="25"
          />
          Deers Doe
          <p class="font-italic chat-preview">
            Hello, this is...
          </p>
        </a>
      </li>
    </ul>
  </div>
</div>