{% extends "base.html" %}

{% load static %}

{% block title %}Home Page{% endblock %}

{% block content %}

{% if show_navbar %}
{% include "gui/navbar.html" %}
{% endif %}

<main role="main" class="container mt-5">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h1>Start Page</h1>
        </div>

        <div class="col text-right">
          <button type="button" class="btn btn-sm btn-primary">View Source</button>
          <button type="button" class="btn btn-sm btn-outline-primary">Changes</button>
          <button type="button" class="btn btn-sm btn-outline-primary">Attachments</button>
        </div>
      </div>

      <div class="ml-3">
      <div class="row mb-3 text-center">
        <p>
          <b>Welcome to the wiki</b>
        </p>
      </div>

      <div class="row">
        <p>This is a test wiki</p>
      </div>

      <div class="row">
        <h3>Some title here</h3>
      </div>
    </div>
      </div>
  </div>
</main>
{% endblock %}
