/* HTML */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

p {
    margin-bottom: 5px;
}

/* Classes */
.background {
  background: #457b9d;
  height: 100%;
}

.background-white {
    background: white;
}

.bread-crumbs-margin {
    margin-left: 0px;
}

.color-black {
    color: black;
}

.index-cards {
    min-width: 250px;
}

.index-jumbotron {
    padding: 1rem 2rem;
}

.profile-private-section {
    min-height: 275px;
}
